@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  background: #06BDC1;
  background: -webkit-radial-gradient(center, #06BDC1, #68469F);
  background: -moz-radial-gradient(center, #06BDC1, #68469F);
  background: radial-gradient(ellipse at center, #06BDC1, #68469F);
}

.container{
  width: 1280px;
  margin: auto;
}

.quotes-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.inner-quotes-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  text-align: center;
  min-height: 400px;
  padding: 0 25px;
  color: gray;
  border-radius: 10px;
  background-color: #24363d ;
  border: 10px solid #91abac;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 
}

.inner-quotes-container p{
  font-size: 1.5rem;
  color: rgb(201, 198, 198);
}

.inner-quotes-container h3{
  font-size: 2rem;
  color: rgb(148, 148, 148);
  font-family: 'Dancing Script', cursive;
}

.quote-btn{padding-top: 25px;}

@media(max-width:1280px){
  .container{width: 95%;}
}

@media(max-width:900px){
  .inner-quotes-container{width: 100%;}
}

@media(max-width:480px){
  .inner-quotes-container p{font-size: 1.2rem;}
  .inner-quotes-container h3{font-size: 1.5rem;}
}
